<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sample Names</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='static.css')}}">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Belly Buton Biodiversity</h1>
    </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>Sample Names</h2>
          <table>
          {% for t in names_data %}
              <tr>
              {% for i in t %}
                  <td>{{ i }}</td>
              {% endfor %}
              </tr>
          {% endfor %}
           </table>
        </div>
      </div>
    </div>

  </body>
  </html>
